@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: 'Poppins', sans-serif !important;
}

.App {
  outline: none;
  border: none;
  height: 100vh;
}

.ant-space.ant-space-horizontal.ant-space-align-center.word-container {
  background: #f3f3f3;
  margin-top: 3em;
  padding: 1em;
  box-shadow: 0 2px 4px #d9d9d9;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif !important;
  width: 60vw;
  align-items: center;
  margin-left: 18vw;
}


.ant-space.ant-space-horizontal.ant-space-align-center.word {
  font-size: 19px;
  border: 2px solid black;
  padding: 4px 32px;
  font-weight: 500;
  border-radius: 6px;
}

.ant-space.ant-space-horizontal.ant-space-align-center.keyboard-characters {
  margin-left: 18vw;
  margin-top: 1em;
}

.ant-space.ant-space-horizontal.ant-space-align-center.key-container {
  background: #f1efef;
  padding: 2em;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 2px 4px #c3c3c3;
  margin-right: 6px;
  height: 4em;
  font-size: 14.8px;
}

.padding-10px{
  padding-left: 2vw !important;
}

.padding-20px{
  padding-left: 4vw !important;
}

span.ant-typography.specific-character {
  border-bottom: 2px solid black;
}

.ant-space.ant-space-horizontal.ant-space-align-center.results-content {
  margin-left: 18vw;
  margin-top: 3em;
}

.ant-space.ant-space-vertical.level-container {
  background: #2abaff;
  padding: 10px 48px;
  text-align: center;
  border-radius: 42px;
}


h3.ant-typography.result-title {
  color: white;
  font-size: 3em;
  margin-bottom: -27px;
  font-weight: 300;
}

span.ant-typography.result {
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.ant-space.ant-space-vertical.level-container {
  background: #22a7e7;
  padding: 10px 69px;
  text-align: center;
  border-radius: 42px;
  box-shadow: 0 3px 6px #d5d5d5;
}

.ant-space.ant-space-vertical.score-container {
  background: #88cd5e;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  padding: 7px 58px;
  box-shadow: 0 3px 6px #d5d5d5;
  text-align: center;
  margin-left: 8vw;
}

.ant-space.ant-space-vertical.speed-container {
  background: #7034d1;
  padding: 22px 51px;
  margin-left: 13vw;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


.ant-space.ant-space-vertical.speed-container h3.ant-typography.result-title {
  margin-bottom: 0 !important;
  font-size: 2em;
  font-weight: 500;
}

.key-pressed{
  background-color: rgb(255, 196, 0) !important;
}

.color_green{
  color: rgb(15, 241, 15) !important;
}

div#rcDialogTitle1 {
  text-align: center;
  color: #224BDA;
}

button.ant-btn.quit-game-button {
  background: #DA4A22;
  color: #fff;
  height: 3em;
  border: none;
  width: 34%;
}

button.ant-btn.start-game-button {
  background: #1E6FD9;
  color: #fff;
  height: 3em;
  width: 35%;
  border: none;
}

.ant-space.ant-space-vertical.statistics {
  margin-left: 6em;
  text-align: center;
}

button.ant-btn.save-game-button {
  background: #F2BF27;
  color: #fff;
  border: none;
  height: 3em;
  width: 27%;
}